@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="h1">Poke API</h1>
        <p class="lead">Escoge a tu equipo pokemon</p>

        @*Barra de busqueda para los pokemon*@

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <img src="https://miro.medium.com/v2/resize:fit:300/0*NsHVyfpJ2k7ixTAd" width="40" height="40"/>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon1">
        </div>

        
    </div>
</div>

